<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sodium</title>
        <link rel="icon" href="static/img/sodium.png">
        <link rel="stylesheet" href="static/css/app.css">
    </head>
    <body>
        <nav>
            <div class="essential">
                <a><img src="static/icons/house-chimney.png"></a>
                <a><img src="static/icons/envelope.png"></a>
                <hr>
            </div>
            <div>
                
            </div>
            <div class="essential">
                <hr>
                <a><img src="static/icons/add.png"></a>
            </div>
        </nav>
        <section class="messages">
            <div class="messages-container">
                <div class="messages-top-nav">

                </div>
                <div class="messages-side-nav">
                    <a class="mbtn"><img src="static/icons/circle-nodes.png">Connections</a>
                    <hr style="margin-top: 0.25rem;">
                </div>
                <div class="messages-display">
                    <div class="messages-input">

                    </div>
                </div>
            </div>
        </section>
    </body>
</html>