<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sodium</title>
        <link rel="icon" href="static/img/sodium.png">
        <link rel="stylesheet" href="static/css/style.css">
    </head>
    <body>
        <nav>
            <div class="na">
                <b>Sodium</b>
                <img src="static/img/sodium.png" alt="Sodium Logo" class="logo">
            </div>
            <div>
                <a href="">Servers</a>
                <a href="">Nodes</a>
                <a href=""></a>
            </div>
            <div class="na">
                <a href="">Sign up</a>
                <a href="/login">Log in</a>
            </div>
        </nav>
        <section>
            <div class="hero">
                <h1>Welcome to Sodium</h1>
                <p>Your gateway to secure and private communication.</p>
                <div class="btns">
                    <a href="" class="btn1">Get Started</a>
                    <a href="https://github.com/onionvhost/Sodium" target="_blank" class="btn2"><img src="static/icons/github.png">Browse</a>
                </div>
                <div class="sparks">
                    <div class="spark1"></div>
                </div>
            </div>

            <div class="content">
                
            </div>
        </section>
    </body>
</html>