<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Sodium Server Management</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
  <section id="start">
    <img src="icons/spinner.svg" class="spin" alt="Loading...">
    <h1>Loading...</h1>
  </section>

  <section id="error" style="display: none;">
    <h1>Error</h1>
    <p>Something went wrong...</p>
  </section>

  <section id="setup" style="display: none;">
    <form id="setup-form">
      <div class="input-wrapper">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
      </div>
      
      <div class="input-wrapper">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
      </div>
      
      <p>We've detected that it's the first time you run the software so please create a superuser account.</p>
      <button type="submit">Create User</button>
    </form>
  </section>

  <section id="login" style="display: none;">
    <form id="login-form">
      <div class="input-wrapper">
        <label for="login-username">Username</label>
        <input type="text" id="login-username" name="username" required>
      </div>
      <div class="input-wrapper">
        <label for="login-password">Password:</label>
        <input type="password" id="login-password" name="password" required>
      </div>
      
      <button type="submit">Login</button>
    </form>
  </section>

  <section id="dashboard" style="display: none;">
    <nav>
      <div>
        <img src="img/sodium.png" alt="Sodium Logo">
        <h1>Sodium Server Management</h1>
      </div>
    </nav>
    <section class="dash-grid-4">
      <a href="javascript:show('modalStart')" id="dash-status" class="dash-item item-online">
        <div>
          <b id="status-title">Online</b>
          <p>Website Status</p>
        </div>
        <div class="dash-item-bg">
          <div id="status-circle" class="online pulse"></div>
        </div>
      </a>
      <div class="dash-item">
        <div>
          <b id="users-title">0</b>
          <p>Website Users</p>
        </div>
        <canvas id="usersChart" class="chart"></canvas>
      </div>
      <div class="dash-item">
        <div>
          <b id="messages-title">0</b>
          <p>Messages sent</p>
        </div>
      </div>
      <div class="dash-item">
        <div>
          <b id="visitors-title">0</b>
          <p>Website Visitors</p>
        </div>
      </div>
    </section>
    <section class="dash-grid-2">
      <div class="dash-item">
        <div>
          <b>0</b>
          <p>KB/in</p>
        </div>
        <canvas id="trafficInChart" class="chart"></canvas>
      </div>
      <div class="dash-item">
        <div>
          <b>0</b>
          <p>KB/out</p>
        </div>
        <canvas id="trafficOutChart" class="chart"></canvas>
      </div>
    </section>

    <div id="modalStart">
      <div class="modal">
        <img onclick="hide('modalStart')" src="icons/cross.svg" alt="Close Modal">
        <b class="modal-title">Start Website</b>
        <p>Do you want to start the website now?</p>
        <button>Start</button>
      </div>
    </div>
  </section>

  <script>
    let status = false;
    let trafficPollInterval = null;

    function show(id) {
      document.getElementById(id).style.display = 'flex';
      if (id === 'modalStart') {
        if (status) {
          document.querySelector('.modal-title').textContent = 'End Website Process';
          document.querySelector('.modal p').textContent = 'Do you want to end the website process now? This will stop the website and you will not be able to access it until you start it again.';
          document.querySelector('.modal button').textContent = 'End Process';
        } else {
          document.querySelector('.modal-title').textContent = 'Start Website Process';
          document.querySelector('.modal p').textContent = 'Do you want to start the website now?';
          document.querySelector('.modal button').textContent = 'Start Process';
        }
      }
    }

    document.querySelector('.modal button').addEventListener('click', () => {
      if (status) {
        window.electronAPI.endWebsite();
        document.getElementById('status-title').textContent = 'Offline';
        document.getElementById('status-circle').className = 'offline pulse';
        document.getElementById('dash-status').className = 'dash-item item-offline';
        status = false;
        if (trafficPollInterval) {
          clearInterval(trafficPollInterval);
          trafficPollInterval = null;
        }
      } else {
        runWebsite();
        status = true;
      }
      hide('modalStart');
    });

    function hide(id) {
      document.getElementById(id).style.display = 'none';
    }

    async function waitForAPI(retries = 20, delay = 500) {
      for (let i = 0; i < retries; i++) {
        try {
          const res = await fetch('http://127.0.0.1:8081/startup');
          if (res.ok) return await res.json();
        } catch (err) {
          // API not ready yet
        }
        await new Promise(resolve => setTimeout(resolve, delay));
      }
      throw new Error("FastAPI backend did not start.");
    }

    async function waitForWebsite(retries = 2, delay = 500) {
      let data = {};
      for (let i = 0; i < retries; i++) {
        try {
          const res = await fetch('http://127.0.0.1:8080/');
          if (res.ok) {
            status = true
          };
        } catch (err) {
          // API not ready yet
        }
        await new Promise(resolve => setTimeout(resolve, delay));
      }
      try {
        const res = await fetch('http://127.0.0.1:8081/load');
        if (res.ok) {data = await res.json();};
      } catch (err) {
        // API not ready yet
      }
      document.getElementById('status-title').textContent = status ? 'Online' : 'Offline';
      document.getElementById('status-circle').className = status ? 'online pulse' : 'offline pulse';
      document.getElementById('dash-status').className = status ? 'dash-item item-online' : 'dash-item item-offline';
      document.getElementById('users-title').textContent = data.users || 0;
      document.getElementById('messages-title').textContent = data.messages || 0;
      document.getElementById('visitors-title').textContent = data.visitors || 0;

      return JSON.stringify({"online": status, "users": data.users, "messages": data.messages, "visitors": data.visitors});
    };

    window.addEventListener('DOMContentLoaded', async () => {
      try {
        const response = await window.electronAPI.runPython('management/app.py');
        if (response != "Started") throw new Error("Failed to execute Python script.");
        console.log('Python script executed:', response);
        const data = await waitForAPI();
        const resp = await window.electronAPI.runPython('management/func/main.py');
        if (response != "Started") throw new Error("Failed to execute Python script.");
        console.log('Python script executed:', response);
        hide('start');
        data.hasUser ? show('login') : show('setup');
      } catch (error) {
        hide('start');
        show('error');
        console.error('Error starting management software:', error);
      }
    });

    document.getElementById('setup-form').addEventListener('submit', async (event) => {
      event.preventDefault();
      const form = event.target;
      const formData = new FormData(form);
      try {
        const response = await fetch('http://127.0.0.1:8081/setup', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            username: formData.get('username'),
            password: formData.get('password')
          })
        });
        if (response.ok) {
          hide('setup');
          show('login');
        } else {
          throw new Error('Failed to create user');
        }
      } catch (error) {
        console.error('Error during setup:', error);
      }
    });

    async function loadDashboard() {
      try {
        const response = await waitForWebsite();
        if (response) {
          console.log('Dashboard loaded:', response);
          hide('start');
          show('dashboard');
          return;
        } else {
          throw new Error("Website is not Online.");
        }
      } catch (error) {
        console.error('Error loading dashboard:', error);
        hide('start');
        show('error');
      }
    }

     document.getElementById('login-form').addEventListener('submit', async (event) => {
      event.preventDefault();
      const form = event.target;
      const formData = new FormData(form);
      try {
        const response = await fetch('http://127.0.0.1:8081/login', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            username: formData.get('username'),
            password: formData.get('password')
          })
        });
        if (response.ok) {
          hide('login');
          show('start');
          loadDashboard();
        } else {
          throw new Error('Failed to login');
        }
      } catch (error) {
        console.error('Error during login:', error);
      }
    });

    async function runWebsite() {
      try {
        const response = await window.electronAPI.runWebsite('website/app.py');
        if (response != "Started") throw new Error("Failed to execute website script.");
        console.log('Website script executed:', response);
      } catch (error) {
        console.error('Error starting website:', error);
      }
      hide('modalStart');
      document.getElementById('status-title').textContent = 'Online';
      document.getElementById('status-circle').className = 'online pulse';
      document.getElementById('dash-status').className = 'dash-item item-online';
      trafficPollInterval = setInterval(async () => {await pollTraffic()}, 1000);
    };

    async function pollTraffic() {
      try {
        const response = await fetch('http://127.0.0.1:8080/traffic', {
          method: 'GET',
          headers: {
            'Authorization': 'your_secret_token'
          }
        });
        if (response.ok) {
          const data = await response.json();
          const now = new Date().toLocaleTimeString();
          if (trafficsInChart.data.labels.length > 60) {
            trafficsInChart.data.labels.shift();
            trafficsInChart.data.datasets[0].data.shift();
          }
          if (trafficsOutChart.data.labels.length > 60) {
            trafficsOutChart.data.labels.shift();
            trafficsOutChart.data.datasets[0].data.shift();
          }

          trafficsInChart.data.datasets[0].data.push(data.incoming);
          trafficsInChart.data.labels.push(now);
          
          trafficsOutChart.data.labels.push(now);
          trafficsOutChart.data.datasets[0].data.push(data.outgoing);
          
          trafficsInChart.update();
          trafficsOutChart.update();
        } else {
          console.error('Failed to fetch traffic data:', response.statusText);
        }
      } catch (error) {
        console.error('Error fetching traffic data:', error);
      }
    };
  </script>

  <script>
    const userChart = document.getElementById('usersChart').getContext('2d');
    const trafficInChart = document.getElementById('trafficInChart').getContext('2d');
    const trafficOutChart = document.getElementById('trafficOutChart').getContext('2d');
    const usersCart = new Chart(userChart, {
      type: 'line',
      data: {
        labels: ['5 days ago', '4 days ago', '3 days ago', '2 days ago', 'yesterday', 'today'],
        datasets: [{
          data: [0, 12, 90, 32, 87, 298],
          borderColor: 'rgb(122, 174, 204, 1)',
          backgroundColor: 'rgb(122, 174, 204, 0.2)',
          borderWidth: 2,
          fill: true,
          tension: 0.4,
          pointRadius: 0,
          pointHoverRadius: 0
        }]
      },
      options: {
        responsive: false,
        plugins: {
          legend: {
            display: false
          },
          tooltip: {
            enabled: false
          }
        },
        interaction: {
          intersect: false,
        },
        scales: {
          x: {
            display: false,
            title: {
              display: false
            }
          },
          y: {
            display: false,
            beginAtZero: false,
            title: {
              display: false
            },
            suggestedMin: 5,
            suggestedMax: 50
          }
        }
      }
    });

    const trafficsInChart = new Chart(trafficInChart, {
      type: 'line',
      data: {
        labels: [],
        datasets: [{
          label: 'Incoming Traffic',
          data: [],
          borderColor: 'rgb(122, 174, 204, 1)',
          backgroundColor: 'rgb(122, 174, 204, 0.2)',
          borderWidth: 2,
          fill: true,
          tension: 0.4,
          pointRadius: 0,
          pointHoverRadius: 0
        }]
      },
      options: {
        responsive: false,
        plugins: {
          legend: {
            display: false
          },
          tooltip: {
            enabled: true
          }
        },
        interaction: {
          intersect: false,
        },
        scales: {
          x: {
            display: false,
            title: {
              display: false
            }
          },
          y: {
            display: false,
            beginAtZero: false,
            title: {
              display: false
            },
            suggestedMin: 5,
            suggestedMax: 1000
          }
        }
      }
    });

    const trafficsOutChart = new Chart(trafficOutChart, {
      type: 'line',
      data: {
        labels: [],
        datasets: [{
          label: 'Outgoing Traffic',
          data: [],
          borderColor: 'rgb(122, 174, 204, 1)',
          backgroundColor: 'rgb(122, 174, 204, 0.2)',
          borderWidth: 2,
          fill: true,
          tension: 0.4,
          pointRadius: 0,
          pointHoverRadius: 0
        }]
      },
      options: {
        responsive: false,
        plugins: {
          legend: {
            display: false
          },
          tooltip: {
            enabled: true
          }
        },
        interaction: {
          intersect: false,
        },
        scales: {
          x: {
            display: false,
            title: {
              display: false
            }
          },
          y: {
            display: false,
            beginAtZero: false,
            title: {
              display: false
            },
            suggestedMin: 5,
            suggestedMax: 1000
          }
        }
      }
    });
  </script>
</body>
</html>
